<header>
    {% avatar hyperdefined size=120 %}
    <h1>hyperdefined</h1>
    <button class="menu-toggle" aria-label="Toggle navigation">☰</button>
    <nav class="nav-menu">
        <ul>
            <li><a href="{{ site.url }}">Home</a></li>
            <li><a href="{{ site.url }}/blog">Blog</a></li>
            <li><a href="{{ site.url }}/projects">Projects</a></li>
            <li><a href="{{ site.url }}/fursona">Fursona</a></li>
            <li><a href="{{ site.url }}/contact">Contact</a></li>
        </ul>
    </nav>
</header>