@media screen and (max-width: 808px) {
    .card {
        flex: 1 1 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }
}
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        display: none;
    }
    .menu-toggle {
        display: block;
    }
    nav.active ul {
        display: flex;
    }
	nav li {
        width: 100%;
    }
    nav li a {
        white-space: normal;
    }
}
@media screen and (max-width: 559px) {
    .card {
        flex: 1 1 calc(100% - 40px);
        max-width: calc(100% - 40px);
    }
}