{% extends "base.html" %}

{% block extrahead %}
  {% set title = config.site_name %}

  <link rel="apple-touch-icon" sizes="180x180" href="{{ config.site_url | url }}assets/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ config.site_url | url }}assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ config.site_url | url }}assets/img/favicon-16x16.png">
  <link rel="manifest" href="{{ config.site_url | url }}assets/img/site.webmanifest">
  <link rel="mask-icon" href="{{ config.site_url | url }}assets/img/safari-pinned-tab.svg" color="#000000">
  <link rel="shortcut icon" href="{{ config.site_url | url }}assets/img/favicon.ico">
  <meta name="msapplication-TileColor" content="#346eeb">
  <meta name="msapplication-config" content="{{ config.site_url | url }}assets/img/browserconfig.xml">

  {% if page and page.meta and page.meta.title %}
    <meta property="og:title" content="{{ page.meta.title }} - {{ title }}">
    <meta name="twitter:title" content="{{page.meta.title }} - {{ title }}">
  {% elif page and page.title and not page.is_homepage %}
    <meta property="og:title" content="{{ title }} - {{ page.title | striptags }}">
    <meta name="twitter:title" content="{{ title }} - {{ page.title | striptags }}">
  {% else %}
    <meta property="og:title" content="{{ title }}">
    <meta name="twitter:title" content="{{ title }}">
  {% endif %}

  {% if config.extra.build_type == 'production' %}
    <script defer src="https://data.hyper.lol/script.js" data-website-id="81e8435b-90f4-459b-9a42-8bd8bdd48f9d"></script>
  {% endif %}

  {% if page and page.meta and page.meta.description %}
    <meta property="og:description" content="{{ page.meta.description }}">
    <meta name="twitter:description" content="{{ page.meta.description }}">
    <meta name="description" content="{{ page.meta.description }}">
  {% else %}
    <meta property="og:description" content="{{ config.site_description }}">
    <meta name="twitter:description" content="{{ config.site_description }}">
    <meta name="description" content="{{ config.site_description }}">
  {% endif %}
  <meta name="theme-color" content="#346eeb">

  {% if page and page.meta and page.meta.image %}
    <meta name="twitter:image" content="{{ config.site_url | url }}{{ page.meta.image }}">
    <meta property="og:image" content="{{ config.site_url | url }}{{ page.meta.image }}">
    <meta name="twitter:card" content="summary_large_image">
  {% else %}
   <meta name="twitter:image" content="{{ config.site_url | url }}assets/img/android-chrome-384x384.png">
    <meta property="og:image" content="{{ config.site_url | url }}assets/img/android-chrome-384x384.png">
    <meta name="twitter:card" content="summary">
  {% endif %}

  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.canonical_url }}">
  <meta property="og:image:type" content="image/png">
  <meta name="twitter:creator" content="hyperdefined">
{% endblock %}

{% block htmltitle %}
  {% if page and page.meta and page.meta.title %}
    <title>{{ page.meta.title }} - {{ config.site_name }}</title>
  {% elif page and page.title and not page.is_homepage %}
    <title>{{ page.title | striptags }} - {{ config.site_name }}</title>
  {% else %}
    <title>{{ config.site_name }}</title>
  {% endif %}
{% endblock %}
