html {
	-webkit-text-size-adjust: 100%;
}
body {
	font-family:
		'Inter',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 850px;
}

.centered {
	text-align: center;
}

h1 {
	overflow-wrap: break-word;
	word-break: normal;
}

.table-container {
	max-width: 100%;
	overflow-x: auto;
}
td,
th {
	white-space: nowrap;
}
blockquote h4 {
	padding-top: 0;
}
details[open] summary {
	padding-bottom: 10px;
}
hr {
	border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1;
}

figure {
	text-align: center;
}

figcaption {
	font-style: italic;
}

.gallery {
	display: flex;
}

.gallery img {
	width: 95%;
}

.alert-box {
	border-color: green;
	background: #003000;
}

/* Lightmode things */
@media (prefers-color-scheme: light) {
	pre {
		background: #f6f8fa;
	}
	.alert-box {
		border-color: darkgreen;
		background: #88d388ff;
	}
}
